$skeleton-loader-text-height: 10px;
$skeleton-loader-chip-border-radius: 8px;
$skeleton-loader-chip-height: 16px;
$skeleton-loader-chip-width: 40px;
$skeleton-loader-avatar-height: 32px;
$skeleton-loader-avatar-width: 32px;
$alert-icon-size: 16px;
$expansion-panel-content-padding: 0;

$padding-small: 4px;
$padding-medium: 8px;
$padding-large: 16px;
$padding-extra-large: 24px;

$margin-small: 4px;
$margin-medium: 8px;
$margin-large: 16px;
$margin-extra-large: 24px;

$font-size-title: 14px;
$font-size-subtitle: 12px;
$font-size-heading1: 32px;
$font-size-heading2: 28px;

$text-field-width-standard: 200px;

$headings:(
    'h1':(
        'size': $font-size-heading1,
        'weight': 400,
        'line-height': 3rem
    )
);