$page-bg-color: #f9f9f9;
$alert-critical: #f4511e;
$alert-major: #fbc02d;
$alert-event: #039be5;

$primary-color: #a5c56d;
$accent-color: #28629b;
$secondary-icon-color: #9e9e9e;
$unknown-color: #eeeeee;
$screen-color: #d9d9d9;
$divider-color: #bbbbbb;
$cnx-green-color: #a5c56d;
$cnx-green-light1: #d2e2b6;

$status-icon-green-solid: rgba(143, 182, 72, 1);
$status-icon-green-transluscent: rgba(143, 182, 72, 0.3);

$status-icon-red-solid: rgba(186, 27, 27, 1);
$status-icon-red-transluscent: rgba(186, 27, 27, 0.3);

// dark theme
$accent-color-dark: #0288d1;

$warning-color: #ffc107;
$error-color: #ff5722;
$late-color: $error-color;
$very-late-color: #e91e63;

$black-color: #212121;
$default-color: rgba(0, 0, 0, 0.87);

$map-popup-color-dark: #212121;
$map-popup-color-light: #212121;

$unknow-opacity: 0.3;
$card-min-width: 120px;

$app-bar-height-small: 56px;
$app-bar-height-large: 64px;
$search-container-z-index: 3;
$search-container-transition: height 0.3s, width 0.3s, transform 0.3s;

$busfinder-col-max-width: 240px;
$text-secondary-size: 0.8em;
$text-tertiary-size: 0.7em;
$text-tertiary-opacity: 0.6;

$blurred-backdrop: blur(24px);

$route-color-light: #757575;
$route-color-dark: #eeeeee;
$grey-lighten-3: #eeeeee;
$grey-lighten-4: #f5f5f5;
$grey-darken-1: #757575;

$custom-icon-small: 16.8px;
