@import "@/styles/_variables.scss";
@import "@/styles/variables.scss";
@import "@/styles/custom.scss";

:root {
  --app-height: 100%;
}

html,
body {
  height: 100%;
  height: -webkit-fill-available;
  height: -moz-available;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

.scrollable {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
}

#app {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-touch-callout: none !important; /* iOS Safari */
  -webkit-user-select: none !important; /* Safari */
  -khtml-user-select: none !important; /* Konqueror HTML */
  -moz-user-select: none !important; /* Old versions of Firefox */
  -ms-user-select: none !important; /* Internet Explorer/Edge */
  user-select: none !important; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.content .fill-height {
  height: 100%;
}

// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}

.disabled-opacity {
  opacity: 0.5;
}

.icon-small {
  font-size: 1.4em;
}

.tertiary-text,
.text-tertiary {
  font-size: $text-tertiary-size !important;
}

.secondary-text {
  font-size: $text-secondary-size;
}

.fill-height {
  height: 100%;
}

.fill-width {
  width: 100%;
}

.small-line-height {
  line-height: 1.2 !important;
}

.no-line-height {
  line-height: 0 !important;
}

.dialog-stepper {
  height: 100%;

  .v-stepper__items {
    height: 100%;
    min-height: 480px;

    .v-stepper__content {
      height: calc(100% - 80px);

      .v-stepper__wrapper {
        height: 100%;
      }
    }
  }
}

.v-text-field.expandable-search {
  transition: all 0.3s;

  .v-input__slot {
    padding: 0 8px !important;
    background-color: rgba(0, 0, 0, 0.06) !important;
  }

  &.closed {
    max-width: 40px;

    .v-input__slot {
      background-color: transparent !important;
      cursor: pointer;

      :hover {
        background-color: transparent !important;
      }
    }

    :hover {
      background-color: rgba(0, 0, 0, 0.02) !important;
    }
  }
}

$toolbar-border: thin solid rgba(0, 0, 0, 0.12);

.v-toolbar {
  &.cnx-toolbar {
    border-bottom: $toolbar-border !important;
  }
}

.v-app-bar {
  &.cnx-app-bar {
    border-bottom: $toolbar-border !important;
  }
}

.cnx-app-bar {
  border-bottom: $toolbar-border !important;
}

.v-card {
  &.v-sheet {
    &.bordered-card {
      border: $toolbar-border !important;
    }
  }
}

.v-overlay {
  &.cnx-overlay {
    width: 100% !important;
    height: 100% !important;

    .v-overlay__content {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.unit-font {
  font-size: 0.6em;
}

.small-chip {
  &.v-chip {
    .v-icon {
      font-size: 16px !important;
    }
  }
}
